{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-regenerator",
    [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ]
	]
}