{
  "env": {
      "es6": true,
      "browser": true,
      "node": true,
      "jest": true
  },
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "jsx-quotes": ["error", "prefer-double"],
    "function-paren-newline": ["error", "consistent"],
    "indent": 0
  }
}
